<mat-progress-bar
  mode="indeterminate"
  *ngIf="isLoading$ | async"
></mat-progress-bar>

<div *ngIf="paginatedAnimeList$ | async as paginatedAnimeList">
  <form [formGroup]="filterForms">
    <mat-form-field>
      <mat-label>Search</mat-label>
      <input matInput placeholder="Anime title" formControlName="search" />
    </mat-form-field>
    <mat-form-field>
      <mat-select
        [multiple]="true"
        placeholder="Filter type"
        formControlName="type"
      >
        <mat-option
          *ngFor="let type of filterOptionsMap.type | keyvalue"
          [value]="type.key"
        >
          {{ type.value }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>
  <mat-paginator
    *ngIf="paginationParams$ | async as paginationParams"
    [length]="paginatedAnimeList.total"
    [pageSizeOptions]="pageSizeOptions"
    [pageSize]="paginationParams.limit"
    [pageIndex]="paginationParams.page - 1"
    showFirstLastButtons
    aria-label="Pagination panel"
    (page)="handlePaginationChange($event)"
  >
  </mat-paginator>
  <table
    *ngIf="sortParams$ | async as sortParams"
    mat-table
    [dataSource]="paginatedAnimeList.items"
    [trackBy]="trackById"
    class="table mat-elevation-z8"
    aria-label="Anime Table"
    matSort
    (matSortChange)="handleSortChange($event)"
    [matSortDirection]="sortParams.direction"
    [matSortActive]="sortParams.sortBy"
  >
    <ng-container matColumnDef="image">
      <th mat-header-cell *matHeaderCellDef>Image</th>
      <td mat-cell *matCellDef="let anime">
        <img class="anime-image" [src]="anime.image" alt="" />
      </td>
    </ng-container>

    <ng-container matColumnDef="titleEng">
      <th
        mat-header-cell
        *matHeaderCellDef
        [mat-sort-header]="sortedFields.TitleEng"
      >
        Eng Title
      </th>
      <td mat-cell *matCellDef="let anime">{{ anime.titleEng }}</td>
    </ng-container>

    <ng-container matColumnDef="titleJpn">
      <th mat-header-cell *matHeaderCellDef>Jpn Title</th>
      <td mat-cell *matCellDef="let anime">{{ anime.titleJpn }}</td>
    </ng-container>

    <ng-container matColumnDef="airedStart">
      <th
        mat-header-cell
        *matHeaderCellDef
        [mat-sort-header]="sortedFields.AiredStart"
      >
        Aired start
      </th>
      <td mat-cell *matCellDef="let anime">
        {{ (anime.airedStart | date: monthYearFormat) || "Not started" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef>Type</th>
      <td mat-cell *matCellDef="let anime">
        {{ animeType.toReadable(anime.type) }}
      </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th
        mat-header-cell
        *matHeaderCellDef
        [mat-sort-header]="sortedFields.Status"
      >
        Status
      </th>
      <td mat-cell *matCellDef="let anime">
        {{ animeStatus.toReadable(anime.status) }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
