.card__image {
  max-width: 300px;
  min-height: 440px;
  display: block;
}

.group-title {
  font-weight: bold;
  font-size: larger;
}

.card {
  padding: 10px 40px;
}

.card__basic {
  display: flex;
}

.basic__info {
  margin: 0 10px;
}

.card__trailer {
  display: flex;
  justify-content: center;
}
