<mat-card *ngIf="anime$ | async as anime" class="card">
  <mat-card-title-group>
    <mat-card-title>
      {{ anime.titleEng }}
    </mat-card-title>
    <mat-card-subtitle>
      {{ anime.titleJpn }}
    </mat-card-subtitle>
  </mat-card-title-group>
  <div class="card__basic">
    <img
      [src]="anime.image"
      [alt]="'Poster anime - ' + anime.titleEng"
      class="card__image"
    />
    <div class="basic__info">
      <mat-card-content>
        <div class="group-title">Type</div>
        {{ animeType.toReadable(anime.type) }}
      </mat-card-content>
      <mat-card-content>
        <div class="group-title">Aired:</div>
        <div>Status: {{ animeStatus.toReadable(anime.status) }}</div>
        <div *ngIf="anime.airedRange.airedStart">
          Start: {{ anime.airedRange.airedStart | date: monthYearFormat }}
        </div>
        <div *ngIf="anime.airedRange.airedFinish">
          Finish: {{ anime.airedRange.airedFinish | date: monthYearFormat }}
        </div>
      </mat-card-content>
      <mat-card-content *ngIf="anime.studios.length > 0">
        <div class="group-title">Studios</div>
        <div *ngFor="let studio of anime.studios; trackBy:trackByStudioId">
          {{ studio.name }}
        </div>
      </mat-card-content>
      <mat-card-content *ngIf="anime.genres.length > 0">
        <div class="group-title">Genres</div>
        <div *ngFor="let genre of anime.genres; trackBy:trackByGenreId">
          {{ genre.name }}
        </div>
      </mat-card-content>
    </div>
  </div>
  <mat-card-content>
    <div class="group-title" *ngIf="anime.synopsis">Synopsis</div>
    {{ anime.synopsis }}
  </mat-card-content>
  <mat-card-content *ngIf="anime.youTubeTrailerId">
    <div class="group-title">Trailer</div>
    <div class="card__trailer">
      <youtube-player
        [videoId]="anime.youTubeTrailerId"
        suggestedQuality="highres"
        [height]="400"
        [width]="800"
      ></youtube-player>
    </div>
  </mat-card-content>
</mat-card>
