<form
  class="form"
  [formGroup]="registrationForm"
  (ngSubmit)="onRegistrationSubmit()"
>
  <mat-progress-bar
    mode="indeterminate"
    *ngIf="isLoading$ | async"
  ></mat-progress-bar>
  <mat-form-field appearance="fill" class="form__field">
    <mat-label>Email</mat-label>

    <input
      matInput
      placeholder="pat@example.com"
      formControlName="email"
      autocomplete="email"
    />
    <mat-error *ngIf="registrationForm.controls.email.hasError('email')">
      Must be an email address 
    </mat-error>
    <mat-error *ngIf="registrationForm.controls.email.hasError('appError')">
      {{ registrationForm.controls.email.getError('appError').message }}
    </mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill" class="form__field">
    <mat-label>First name</mat-label>
    <input
      matInput
      placeholder="Naruto"
      formControlName="firstName"
      autocomplete="additional-name"
    />
    <mat-error *ngIf="registrationForm.controls.firstName.hasError('appError')">
      {{ registrationForm.controls.firstName.getError('appError').message }}
    </mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill" class="form__field">
    <mat-label>Last name</mat-label>
    <input
      matInput
      placeholder="Uzumaki"
      formControlName="lastName"
      autocomplete="family-name"
    />
    <mat-error *ngIf="registrationForm.controls.lastName.hasError('appError')">
      {{ registrationForm.controls.lastName.getError('appError').message }}
    </mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill" class="form__field">
    <mat-label>Password</mat-label>
    <input
      matInput
      type="password"
      formControlName="password"
      autocomplete="new-password"
    />
    <mat-error *ngIf="registrationForm.controls.password.hasError('appError')">
      {{ registrationForm.controls.password.getError('appError').message }}
    </mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill" class="form__field">
    <mat-label>Password confirm</mat-label>
    <input
      matInput
      type="password"
      formControlName="passwordConfirm"
      autocomplete="new-password"
    />
    <mat-error *ngIf="registrationForm.controls.passwordConfirm.hasError('match')">
      Passwords not matched
    </mat-error>
  </mat-form-field>
  <button
    mat-button
    type="submit"
    [disabled]="isLoading$ | async"
    color="primary"
  >
    Register
  </button>
</form>
