<form [formGroup]="registrationForm" style="display: flex; flex-direction: column;" (submit)="handleRegistrationSubmit()">
  <mat-progress-bar
    mode="indeterminate"
    *ngIf="isLoading$ | async"
  ></mat-progress-bar>
  <mat-form-field appearance="fill" class="form__field">
    <mat-label>Email</mat-label>
    <input
      matInput
      placeholder="pat@example.com"
      formControlName="email"
      autocomplete="email"
    />

    </mat-form-field>
  <mat-form-field appearance="fill" class="form__field">
    <mat-label>First name</mat-label>
    <input
      matInput
      placeholder="Naruto"
      formControlName="firstName"
      autocomplete="additional-name"
    />
  </mat-form-field>
  <mat-form-field appearance="fill" class="form__field">
    <mat-label>Last name</mat-label>
    <input
      matInput
      placeholder="Uzumaki"
      formControlName="lastName"
      autocomplete="family-name"
    />
  </mat-form-field>
  <mat-form-field appearance="fill" class="form__field">
    <mat-label>Password</mat-label>
    <input
      matInput
      type="password"
      placeholder="password"
      formControlName="password"
      autocomplete="new-password"
      
    />
  </mat-form-field>
  <button
    mat-button
    type="submit"
    [disabled]="isLoading$ | async"
    color="primary"
  >
    Register
  </button>
</form>