:host,
.label {
  display: block;
}

.label__content {
  color: var(--secondary-font-color);
  font-weight: bold;
  font-size: 1.4rem;
  min-height: 1.5rem;
  margin-bottom: 0.4rem;
}

.label__input {
  width: 100%;
}
