.header {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px;
  border-bottom: 1px solid black;
}

.navigation {
  display: flex;
  justify-content: space-between;
}
