<header class="header">
  <nav class="naviation">
    <a routerLink="anime">Anime</a>
  </nav>
  <div>
    <div *ngIf="isAuthorized$ | async; else noAuthorized">
      <button
        type="button"
        (click)="handleLogout()"
        mat-flat-button
        color="accent"
      >
        Logout
      </button>
    </div>
    <ng-template #noAuthorized>
      <div>
          <!-- <button
            type="button"
            (click)="handleLogout()"
            mat-flat-button
            color="accent"
          > -->
            <a mat-flat-button routerLink="/auth">Login</a>
          <!-- </button> -->
      </div>
    </ng-template>
  </div>
</header>
